.izveidot-piezimi {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.logs {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: floralwhite;
    padding: 20px;
    border: 2.5px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
.logs.show {
    display: block;
  }


input{
    border: 2px solid #ccc;
}

textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
}

.PASK {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

.post-list {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.post-list li {
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

.post-list .title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  display: inline-block;
  margin-right: 1em;
}

.post-list .text {
  font-size: 1.2em;
  font-weight: bold;
  color: #446688;
  display: inline-block;
  margin-right: 1em;
}

.post-list .type {
    font-size: 1em;
    color: #666;
    float: right;
    margin-right: 1em;
  }
.error{
    height: auto;
    margin: auto;
    text-align: center;
    size: 80px;
    color: red;
}